.cta{

padding:120px 8% 80px;

background:#071426;

}

.ctaBox{

display:flex;

justify-content:space-between;

align-items:center;

padding:70px;

border-radius:32px;

background:linear-gradient(135deg,#5B2BE0,#2563EB);

}

.ctaBox h2{

font-size:56px;

line-height:1.05;

color:white;

margin-bottom:20px;

}

.ctaBox p{

font-size:22px;

color:#E5E7EB;

max-width:650px;

}

.ctaButton{

background:#B7FF1F;

color:#08111F;

padding:22px 40px;

border-radius:18px;

font-weight:800;

text-decoration:none;

font-size:20px;

transition:.3s;

box-shadow:0 0 40px rgba(183,255,31,.30);

}

.ctaButton:hover{

transform:translateY(-4px);

}